{% load static %}
 {% include 'Layout/Partials/Admin/header.html' %}
 <div class="page-wrapper">
  <div class="content">
  <div class="body-wrapper-inner">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Forms</h5>
              <div class="card">
                <div class="card-body">
                  <!-- ivide url kodtha category vanath urls ll name = -->
                  <form method="POST" action="{% url 'core:medicinecategory' %}" enctype="multipart/form-data">
			{% csrf_token %} 
      <!-- csrf kodknath securuty issue verandd nikann -->
                    <div class="mb-3">
                      <label for="exampleInputcatname" class="form-label">Medicine Category Name</label>
                      <input type="text" class="form-control" id="exampleInputcatname" name="name" aria-describedby="nameHelp">
                      <div id="nameHelp" class="form-text"></div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputimage" class="form-label">Image</label>
                      <input type="file" class="form-control" id="exampleInputimage" name="img">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
              </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      {% include 'Layout/Partials/Admin/footer.html' %}