{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Medical HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'Doctor/assets/img/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'Doctor/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Doctor/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'Doctor/assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'Doctor/assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'Doctor/assets/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'Doctor/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'Doctor/assets/css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'Doctor/assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'Doctor/assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'Doctor/assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'Doctor/assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'Doctor/assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'Doctor/assets/css/style.css' %}">
</head>
<body>
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'Doctor/assets/img/logo/loder.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
<header>
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="{% static 'Doctor/assets/img/logo/logo.png' %}" alt="Medical">
                                </a>
                            </div>
                        </div>
                        
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="doctor.html">Doctors</a></li>
                                            <li><a href="department.html">Department</a></li>
                                            <li><a href="blog.html">Blog</a>
                                                <ul class="submenu">
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="blog_details.html">Blog Details</a></li>
                                                    <li><a href="elements.html">Element</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">Login</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    </body>
</html>